<%= form_for @post do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :content %>
        <%= f.text_field :content %>
    </div>
    <div>
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    </div>
    <div>
        <%= f.fields_for :categories, post.categories.build do |category_fields| %>
            <%= category_fields.label :name %>
            <%= category_fields.text_field :name %>
        <% end %>
    </div>
    <%= f.submit %>
<% end %>